
{% extends 'base.html'%}
{% block body %}
 <h1> {{patient.get_name()}} </h1>
    <table>
    
    <tr><td><strong>Email</strong></td><td>{{patient.username}}</td></tr>
    <tr><td><strong>Number</strong></td><td>{{patient.number}}</td></tr>
    <tr><td><strong>Medicare</strong></td><td>{{patient.medicare}}</td></tr>

    </table>

    <br>
    {%if current_user.is_patient() == true %}
        <button class = "button" type="submit"><a href="{{url_for('edit_profile', name=patient.get_name())}}"> Edit profile </a></button>
    {% endif %}

 {% endblock %}

